.acordeon {
  width: 100%;
  margin: 5px auto;  
  padding: 3px;
  transition: all 0.4s ease;

}
h3{
  font-size: 35px;
  text-align: center;
}
.acordeon .bloque {
  margin: 5px;
  border-radius: 7x;
}

.acordeon .h2 {
  margin: 6px;
  padding: 1rem;
  border: 1px solid;
  border-radius: 1rem;
  cursor: pointer;
}
.acordeon .h2:hover {
  color: var(--negro);
  border-radius: 1rem;
}

.acordeon .contenido {
  height: 0;
  padding: 0rem;
  overflow: hidden;
  transition: all 0.5s ease;
}

.acordeon .bloque.activo .contenido {
  height: auto;
  overflow: auto;
}
.contenido div>a{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.contenido a{
  margin:7px;
}